node_modules/
jspm_packages/

npm-debug.log
yarn-error.log
yarn-debug.log
lerna-debug.log
.serverless

.env
.env.test
.custom-env
.vscode-test
.vscode

.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.eslintcache
.cache
.parcel-cache
.npm

# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*
