.logo-header {
  width: 60px;
  height: 60px;
}

.navbar-toggler, .navbar-toggler:focus {
    box-shadow: none;
    outline: none !important;
}

/* offset fixed header for scrollto links */
html {
    scroll-behavior: smooth;
}
:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

//toggle
.toggle-wrapper {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease;
}

.navbar-toggler[aria-expanded=true] .toggle-wrapper {
  transform: rotate(-45deg);  
}

.toggle-line {
  background-color: $white;
  border-radius: 1px;
  width: 100%;
  height: .22rem;
}

.toggle-line.half {
  width: 50%;
}

.toggle-line.start {
  transition: transform 200ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.navbar-toggler[aria-expanded=true] .toggle-line.start {
  transform: rotate(-90deg) translateX(3px);
  //transform: translateY(12px) translateX(-14px) rotate(135deg);
}

.toggle-line.end {
  align-self: flex-end;
  transition: transform 200ms cubic-bezier(0.54, -0.81, 0.57, 0.57); 
  transform-origin: left;
}

.navbar-toggler[aria-expanded=true] .toggle-line.end {
  transform: rotate(-90deg) translateX(-3px);
  //transform: translateX(-14px) translateY(-12px) rotate(45deg);
}

//toggle end
.mobile-bg {
  position: absolute;
  width: 0;
  height: 0;
}

#navbarCollapse a.nav-link {
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-collapse {
  transition: all .2s;
  &::before {
    transition: all .2s;
  }
}

@include media-breakpoint-down(md) { 
  .navbar-dark .nav-item {
    margin: .3em 0;
  }
  .navbar-dark .navbar-collapse.show {
    background-color: $gray-700;
    &::before{
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: $gray-700;
      z-index: -1;
    }
  }

 }


.navbar-light .navbar-nav .nav-link ,.navbar-light .navbar-nav .nav-link.active {

    /*font-weight: bold;*/
    padding: 10px 10px;
    z-index: 1;
    position: relative;
}
